In [3]:
from sqlalchemy import create_engine
import os
import fireducks.pandas as pd
import time
import sys

In [4]:
SERVER:str = os.getenv("IP")
USERNAME: str = os.getenv("USERNAME")
PASSWORD: str = os.getenv("PASSWORD")
DATABASE: str = os.getenv("DATABASE_NAME")
ENCODED_PASSWORD: str = os.getenv("ENCODED_PASSWORD")

In [7]:
start_time = time.time()
connection_uri = f'mssql+pymssql://{USERNAME}:{ENCODED_PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_uri, pool_size=5, max_overflow=10)
query = "SELECT top 3 * from Customer"
conn = engine.connect()

df = pd.read_sql("SELECT top 3 * from Acc_Voucher_Details", engine)
print(df.shape)
print("completion time: ", time.time() - start_time)

(3, 21)
completion time:  1.636551856994629

In [9]:
data = df.to_json(orient="split")

In [10]:
sys.getsizeof(data)

831

In [6]:
start_time = time.time()
connection_uri = f'mssql+pymssql://{USERNAME}:{ENCODED_PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_uri, pool_size=5, max_overflow=10)
query = "SELECT top 3 * from Customer"
conn = engine.connect()

df = pd.read_sql("SELECT top 3 * from Customer", engine, chunksize=500)
for chunk in df:
    print(chunk.shape)
    print("completion time: ", time.time() - start_time)
    print(sys.getsizeof(chunk))

(3, 34)
completion time:  1.4537153244018555
48

In [22]:
df = pd.read_sql("SELECT top 3 * from Customer", engine)
df1 = pd.read_sql("SELECT top 5 * from Customer", engine)
df2 = pd.read_sql("SELECT top 7 * from Customer", engine)
df3 = pd.read_sql("SELECT top 9 * from Customer", engine)
df4 = pd.read_sql("SELECT top 11 * from Customer", engine)

In [25]:
df3

,CustomerId,Customer_FirstName,Customer_LastName,Customer_FatherName,Customer_Gender,Customer_DOB,Customer_ProfilePic,Customer_PhoneNo,Customer_PhoneNo1,Customer_PhoneNo2,...,Customer_Date_Of_Incorruptions,Customer_NoOfPartner,Customer_NoofEmployee,Customer_GrossValue,Customer_Nature_Of_Business,Customer_Relation,Customer_Relation_FirstName,Customer_Relation_LastName,Customer_Occupation,Customer_CIN_Number
0,14390,Raj Kumar,Shershah,None,M,1978-10-10,None,9887067424,,,...,None,None,None,None,None,S/O,Ram Swaroop,Shershah,52,None
1,14429,Shankar,Lal,None,M,1900-01-01,None,9887067424,,,...,None,None,None,None,None,S/O,Chandra,Ram,52,None
2,14450,Pradeep,Kala,None,M,1969-04-02,None,9887067424,,,...,None,None,None,None,None,S/O,Dolat Mal,Kala,52,None
3,14638,Vinod,Agarwal,None,M,1960-10-20,None,9887067424,7073477506,,...,None,None,None,None,None,S/O,Ramswaroop,Agarwal,52,None
4,15071,Muzeeb,Rehman,None,M,1989-01-01,None,9887067424,,,...,None,None,None,None,None,S/O,Shaikh,Islamuddin,52,None
5,15269,Hemant,Kumar,None,M,1992-01-01,None,9887067424,,,...,None,None,None,None,None,S/O,Tara,Chand,52,None
6,15356,Bharati,Barman,None,F,1900-01-01,None,9887067424,,,...,None,None,None,None,None,W/O,Indramohan,Barman,52,None
7,17058,Malik,Ahmed,None,M,1983-06-04,None,9887067424,,,...,None,None,None,None,None,S/O,Laiq,Ahmed,52,None
8,17373,Ravi Prakash,Joshi,None,M,1983-01-01,None,9887067424,,,...,None,None,None,None,None,S/O,Kamal Kishor,Joshi,52,None

In [ ]:
from sqlalchemy import create_engine
import os

In [1]:
import logging
logging.info("This is a test")