In [46]:
from sqlalchemy import create_engine
import os
import fireducks.pandas as pd
import time
import sys

In [33]:
SERVER:str = os.getenv("IP")
USERNAME: str = os.getenv("USERNAME")
PASSWORD: str = os.getenv("PASSWORD")
DATABASE: str = os.getenv("DATABASE_NAME")
ENCODED_PASSWORD: str = os.getenv("ENCODED_PASSWORD")

In [4]:
start_time = time.time()
connection_uri = f'mssql+pymssql://{USERNAME}:{ENCODED_PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_uri, pool_size=5, max_overflow=10)
query = "SELECT top 3 * from Customer"
conn = engine.connect()

df = pd.read_sql("SELECT top 3 * from Acc_Voucher_Details", engine)
print(df.shape)
print("completion time: ", time.time() - start_time)

(3, 21)
completion time:  3.095972776412964

In [9]:
data = df.to_json(orient="split")

In [10]:
sys.getsizeof(data)

831

In [58]:
start_time = time.time()
connection_uri = f'mssql+pymssql://{USERNAME}:{ENCODED_PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_uri, pool_size=5, max_overflow=10)
query = "SELECT top 3 * from Customer"
conn = engine.connect()

df = pd.read_sql("SELECT top 40 * from Customer", engine)

In [59]:
df.replace("", np.nan, inplace=True)

In [61]:
df.iloc[:,:].dropna(axis=1, how='all')

,CustomerId,Customer_FirstName,Customer_LastName,Customer_Gender,Customer_DOB,Customer_PhoneNo,Customer_PhoneNo1,Customer_PhoneNo_IsVerified,Customer_Email,Customer_MaritalStatus,Customer_IsActive,Customer_CreateOn,Customer_CreateBy,Customer_IsFirm,Customer_Relation,Customer_Relation_FirstName,Customer_Relation_LastName,Customer_Occupation
0,14390,Raj Kumar,Shershah,M,1978-10-10,9887067424,,False,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ram Swaroop,Shershah,52
1,14429,Shankar,Lal,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Chandra,Ram,52
2,14450,Pradeep,Kala,M,1969-04-02,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Dolat Mal,Kala,52
3,14638,Vinod,Agarwal,M,1960-10-20,9887067424,7073477506,False,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ramswaroop,Agarwal,52
4,15071,Muzeeb,Rehman,M,1989-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Shaikh,Islamuddin,52
5,15269,Hemant,Kumar,M,1992-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Tara,Chand,52
6,15356,Bharati,Barman,F,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,W/O,Indramohan,Barman,52
7,17058,Malik,Ahmed,M,1983-06-04,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Laiq,Ahmed,52
8,17373,Ravi Prakash,Joshi,M,1983-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Kamal Kishor,Joshi,52
9,18649,Rajendra,Soni,M,1961-07-15,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Devi Shankar,Soni,52
10,18674,Bharati,Barman,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Dhanpati,Barman,52
11,20590,Bimal Chandra,Das,M,1900-01-01,9887067424,,False,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Digendra,Das,52
12,20914,Bhawani,Singh,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Chattar,Singh,52
13,21034,Ssankar,Lal,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Puran,Mal,52
14,21064,Bhawan,Kumar,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Suresh,Kumar,52
15,21126,Bilal,Mohammad,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Mohammad,Bfati,52
16,21235,Mohd.,Shaphik,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Gulam,Rasul,52
17,21275,Bhanwar Lal,Sain,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Gopi Ram,Sain,52
18,21345,Bhiva,Ram,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Jesa,Ram,52
19,21350,Bimal,Chand,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Bhogendra,Chand,52
20,21532,Dinesh,Kumar,M,1990-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Lal,Chand,52
21,21580,Bimal,Barman,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Naru,Barman,52
22,21584,Bharti,Das,F,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,W/O,Gopal,Das,52
23,21603,Bhawani,Singh,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Bhagirath,Singh,52
24,21647,Bhairu,Singh,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ganesha,Ram,52
25,21671,Bhajan,Roy,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Gobinda,Roy,52
26,21729,Murari Lal,Ginuram,,1900-01-01,9887067424,,False,None,None,True,2022-03-11 12:52:15.260,1,False,None,,None,52
27,21735,Sandeep,Kumar,M,1990-01-01,9887067424,,False,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Shambhudayal,Kumar,52
28,21777,Virendra,Barman,M,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ganpati,Barman,52
29,22010,Bharati,Barman,F,1900-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,W/O,Indramohan,Barman,52
30,22194,Sunil,Kumar,M,1977-05-03,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ram,Prasad,52
31,22244,Jayanti,Roy,F,1900-01-01,9887067424,,False,,Married,True,2022-03-11 12:52:15.260,1,False,W/O,Nabin,Roy,52
32,22251,Mohd,Ajar,M,1990-01-01,9887067424,,False,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Najar,Mohammad,52
33,22322,Sudhir,Barman,M,1985-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Khoka,Barman,52
34,22397,Amjad,Kaji,M,1988-01-01,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Bangali,Ji,52
35,22466,Virendra,Singh,M,1988-06-05,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Laxman,Singh,52
36,22490,Abhishek,Sabu,M,1977-02-19,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Surendra Kumar,Sabu,52
37,22497,Bhanwar,Lal,M,1900-01-01,9887067424,9784700457,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ganesha,Ram,52
38,22565,Bhajan,Barman,M,1900-01-01,9887067424,8058384104,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Dhajendra,Barman,52
39,22588,Upendra,Singh,M,1980-04-05,9887067424,,False,None,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Chandeshwar,Singh,52

In [22]:
df = pd.read_sql("SELECT top 3 * from Customer", engine)
df1 = pd.read_sql("SELECT top 5 * from Customer", engine)
df2 = pd.read_sql("SELECT top 7 * from Customer", engine)
df3 = pd.read_sql("SELECT top 9 * from Customer", engine)
df4 = pd.read_sql("SELECT top 11 * from Customer", engine)

In [30]:
df.filter(df.columns[df.isnull().mean() < 0.8])

,CustomerId,Customer_FirstName,Customer_LastName,Customer_Gender,Customer_DOB,Customer_PhoneNo,Customer_PhoneNo1,Customer_PhoneNo2,Customer_WhatsAppNo,Customer_PhoneNo_IsVerified,...,Customer_Website,Customer_MaritalStatus,Customer_IsActive,Customer_CreateOn,Customer_CreateBy,Customer_IsFirm,Customer_Relation,Customer_Relation_FirstName,Customer_Relation_LastName,Customer_Occupation
0,14390,Raj Kumar,Shershah,M,1978-10-10,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ram Swaroop,Shershah,52
1,14429,Shankar,Lal,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Chandra,Ram,52
2,14450,Pradeep,Kala,M,1969-04-02,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Dolat Mal,Kala,52
3,14638,Vinod,Agarwal,M,1960-10-20,9887067424,7073477506,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ramswaroop,Agarwal,52
4,15071,Muzeeb,Rehman,M,1989-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Shaikh,Islamuddin,52
5,15269,Hemant,Kumar,M,1992-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Tara,Chand,52
6,15356,Bharati,Barman,F,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,W/O,Indramohan,Barman,52
7,17058,Malik,Ahmed,M,1983-06-04,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Laiq,Ahmed,52
8,17373,Ravi Prakash,Joshi,M,1983-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Kamal Kishor,Joshi,52
9,18649,Rajendra,Soni,M,1961-07-15,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Devi Shankar,Soni,52
10,18674,Bharati,Barman,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Dhanpati,Barman,52
11,20590,Bimal Chandra,Das,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Digendra,Das,52
12,20914,Bhawani,Singh,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Chattar,Singh,52
13,21034,Ssankar,Lal,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Puran,Mal,52
14,21064,Bhawan,Kumar,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Suresh,Kumar,52
15,21126,Bilal,Mohammad,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Mohammad,Bfati,52
16,21235,Mohd.,Shaphik,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Gulam,Rasul,52
17,21275,Bhanwar Lal,Sain,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Gopi Ram,Sain,52
18,21345,Bhiva,Ram,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Jesa,Ram,52
19,21350,Bimal,Chand,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Bhogendra,Chand,52
20,21532,Dinesh,Kumar,M,1990-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Lal,Chand,52
21,21580,Bimal,Barman,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Naru,Barman,52
22,21584,Bharti,Das,F,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,W/O,Gopal,Das,52
23,21603,Bhawani,Singh,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Bhagirath,Singh,52
24,21647,Bhairu,Singh,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ganesha,Ram,52
25,21671,Bhajan,Roy,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Gobinda,Roy,52
26,21729,Murari Lal,Ginuram,,1900-01-01,9887067424,,,,False,...,,,True,2022-03-11 12:52:15.260,1,False,,,,52
27,21735,Sandeep,Kumar,M,1990-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Shambhudayal,Kumar,52
28,21777,Virendra,Barman,M,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ganpati,Barman,52
29,22010,Bharati,Barman,F,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,W/O,Indramohan,Barman,52
30,22194,Sunil,Kumar,M,1977-05-03,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ram,Prasad,52
31,22244,Jayanti,Roy,F,1900-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,W/O,Nabin,Roy,52
32,22251,Mohd,Ajar,M,1990-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Najar,Mohammad,52
33,22322,Sudhir,Barman,M,1985-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Khoka,Barman,52
34,22397,Amjad,Kaji,M,1988-01-01,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Bangali,Ji,52
35,22466,Virendra,Singh,M,1988-06-05,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Laxman,Singh,52
36,22490,Abhishek,Sabu,M,1977-02-19,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Surendra Kumar,Sabu,52
37,22497,Bhanwar,Lal,M,1900-01-01,9887067424,9784700457,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Ganesha,Ram,52
38,22565,Bhajan,Barman,M,1900-01-01,9887067424,8058384104,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Dhajendra,Barman,52
39,22588,Upendra,Singh,M,1980-04-05,9887067424,,,,False,...,,Married,True,2022-03-11 12:52:15.260,1,False,S/O,Chandeshwar,Singh,52

In [ ]:
from sqlalchemy import create_engine
import os

In [1]:
import logging
logging.info("This is a test")